{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <ul class="news-inform list-unstyled" id="inform">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $paginator.Pages }}
                <li>
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                    <span class="label label-primary">
                        {{ .Date.Format "2006-01-02" }}
                    </span>
                </li>
        {{ end }}
    </ul>
</div>

{{ partial "foot.html" . }}