{{ define "style" }}
<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/gruvbox-dark.min.css" rel="stylesheet">
{{ end }}
{{ define "main" }}
<div class="mdui-container mdui-typo mdui-p-b-5">
    <div class="mdui-card mdui-m-t-4">
        {{ partial "post-entry-header.html" . }}
        <!-- 卡片的内容 -->
        <div class="mdui-card-content">
            {{ if .Params.Categories }}
            <div class="mdui-chip mdui-float">
                <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe53b;</i></span>
                <span class="mdui-chip-title"><a href="{{ "categories/" | relLangURL }}{{ .Params.Categories }}">{{ .Params.Categories }}</a></span>
            </div>
            {{ end }}
            {{ if .Params.Tags }}
            <div class="mdui-chip mdui-float-right">
                <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe54e;</i></span>
                {{ range $tag := .Params.Tags }}
                    {{ with $tag }}<span class="mdui-chip-title"><a href="#">{{ . }}</a></span>{{ end }}
                {{ end }}
            </div>
            {{ end }}
            <hr>
            {{ .Content }}            
        </div>
    </div>
</div>
{{ end }}

{{ define "script" }}
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script >hljs.initHighlightingOnLoad();</script>
{{ end }}