{{ .Paginator.Next }}

{{ .Paginator.Prev }}
{{ .Paginator.URL }}
{{ .Paginator.Pagers }}
{{ .Paginator.Next }}
{{ .Paginator.Next }}
{{ .Paginator.Next }}
<footer class="mdui-color-theme">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-xs-6">
                <div class="mdui-text-left">
                    <i class="mdui-icon material-icons">arrow_back</i>
                    <span class="doc-footer-nav-direction mdui-hidden-xs-down">Previous</span>
                    <div class="doc-footer-nav-chapter mdui-hidden-xs-down">网格布局</div>
                </div>
            </div>
            <div class="mdui-col-xs-6">
                <div class="mdui-text-right">
                    <i class="mdui-icon material-icons">arrow_forward</i>
                    <span class="doc-footer-nav-direction">Next</span>
                    <div class="doc-footer-nav-chapter">图标</div>
                </div>
            </div>
        </div>
    </div>
</footer>