@media (min-width: 1024px){
    .mdui-appbar-with-toolbar .mdui-drawer {
        top: 64px;
    }
}
.self-site-link a::before{
    background-color: #FFF!important;
}
.self-post-entry-media{
    max-height: 200px;
    overflow: hidden;
}
.self-icon{
    width: 32px;
    height: 32px;
}
pre::-webkit-scrollbar-thumb{
    background:#CFD8DC;
}

footer{
    position: relative;
}

.post img{
    margin-left: auto;
    margin-right: auto;
    display: block; 
    max-height: 60vh;
}
#imageView{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6000;
    background: #aaa;
    overflow: auto;
}

#imageView>.imageView-inner>img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
@media (max-width:768px) {
    #imageView>.imageView-inner>img{
        max-width: 768px;
        display: block;
        margin: 0 auto;
    }
}