<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Site.Title }} | {{ .Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ block "meta" . }}
        {{ end }}
        <link href="https://cdn.bootcss.com/mdui/0.2.1/css/mdui.min.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
        {{ block "style" . }}
        {{ end }}
    </head>
    <body class="mdui-appbar-with-toolbar mdui-drawer-body-left mdui-theme-primary-red">
    {{ partial "header.html" . }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ partial "footer.html" . }}
    <script src="https://cdn.bootcss.com/mdui/0.2.1/js/mdui.min.js"></script>
    {{ block "script" . }}
    {{ end }}
    </body>
</html>