<!--Basic View-->
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <title>{{ .Site.Title }} | {{ .Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ block "meta" . }}
        {{ end }}
        <link href="{{ .Site.Params.Mduistyle | default "css/mdui.min.css" | absURL}}" rel="stylesheet">
        <link href="{{ "css/style.css" | absURL }}" rel="stylesheet">
        {{ block "style" . }}
        {{ end }}
    </head>
    <body class="mdui-appbar-with-toolbar mdui-drawer-body-left mdui-theme-primary-red">
    {{ partial "header.html" . }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ partial "footer.html" . }}
    <script src="{{ .Site.Params.Mduiscript | default "js/mdui.min.js" | absURL}}"></script>
    {{ block "script" . }}
    {{ end }}
    </body>
</html>