{{ define "meta"}}
<meta name="keywords" content="{{ range $tag := .Params.Tags }}{{ with $tag }}{{ . }} {{ end }}{{ end }}" />
{{ end }}
{{ define "style" }}
<link href="//cdn.bootcss.com/prism/9000.0.1/themes/prism-okaidia.min.css" rel="stylesheet">
{{ end }}
{{ define "main" }}
<div class="mdui-container mdui-p-b-5">
    <div class="mdui-card mdui-m-t-4">
        {{ partial "post-entry-header.html" . }}
        <!-- 卡片的内容 -->
        <div class="mdui-card-content mdui-typo">
            {{ if .Params.Categories }}
            <div class="mdui-chip mdui-float">
                <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe53b;</i></span>
                <span class="mdui-chip-title"><a href="{{ "categories/" | absURL }}{{ .Params.Categories }}">{{ .Params.Categories }}</a></span>
            </div>
            {{ end }}
            {{ if .Params.Tags }}
            <div class="mdui-chip mdui-float-right">
                <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe54e;</i></span>
                {{ range $tag := .Params.Tags }}
                    {{ with $tag }}<span class="mdui-chip-title"><a href="{{ "tags/" | absURL }}{{ lower . }}">{{ . }}</a></span>{{ end }}
                {{ end }}
            </div>
            {{ end }}
            <hr>
            {{ .Content }}            
        </div>
    </div>
</div>
{{ end }}

{{ define "script" }}
<script src="{{ "js/prism.js" | absLangURL }}"></script>
{{ end }}