<!--列表条目-->
<div class="mdui-card mdui-m-t-4">
    {{ if .Params.Image }}
    <!--头部包含图片-->
        <div class="mdui-card-media self-post-entry-media">
            <img src="{{ .Params.Image }}"/>
            <div class="mdui-card-menu">
            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">&#xe80d;</i></button>
            </div>
            <div class="mdui-card-media-covered">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">{{ .Title }}</div>
                    <div class="mdui-card-primary-subtitle">{{ .Date.Format "2006-01-02 Mon" }}</div>
                </div>
            </div>
        </div>
    {{ else }}
    <!--不包含图片-->
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">{{ .Title }}</div>
            <div class="mdui-card-primary-subtitle">{{ .Date.Format "2006-01-02 Mon" }}</div>
        </div>
    {{ end }}
    <div class="mdui-card-content">
        {{ htmlUnescape  .Content | plainify |truncate 100 " ..." }}
        <hr>
        {{ if .Params.Categories }}
        <div class="mdui-chip mdui-float">
            <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe53b;</i></span>
            <span class="mdui-chip-title"><a href="{{ "categories/" | absURL }}{{ .Params.Categories }}">{{ .Params.Categories }}</a></span>
        </div>
        {{ end }}
        {{ if .Params.Tags }}
        <div class="mdui-chip mdui-float-right">
            <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe54e;</i></span>
            {{ range $tag := .Params.Tags }}
                {{ with $tag }}
                    <span class="mdui-chip-title"><a href="{{ "tags/" | absURL }}{{ lower . }}">{{ . }}</a></span>
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-float-right">
            <i class="mdui-icon material-icons">&#xe89e;</i><a href="{{ .Permalink }}">进去看看</a>
        </button>
    </div>
</div>