{{ define "main" }}
<div class="mdui-container mdui-typo mdui-p-b-5">
    <div class="mdui-typo-display-3-opacity">{{ .Title }}</div>
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ if $value.Name }}

            <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-hoverable self-site-link ">
                <a href="{{ $value.Name | urlize }}" class="mdui-text-color-white-text">{{ $value.Name }}</a>
            </button>
        {{ end }}
    {{ end }}
</div>
{{ end }}
