@media (min-width: 1024px){
    .mdui-appbar-with-toolbar .mdui-drawer {
        top: 64px;
    }
}
.self-site-link a::before{
    background-color: #FFF!important;
}
.self-post-entry-media{
    max-height: 200px;
    overflow: hidden;
}
.self-icon{
    width: 32px;
    height: 32px;
}
pre::-webkit-scrollbar-thumb{
    background:#CFD8DC;
}

footer{
    position: relative;
}
