<!--View of footer-->
<footer class="mdui-color-theme mdui-typo">
    <div class="mdui-container mdui-p-t-4 mdui-p-b-4">
        <div class="mdui-row">
            <div class="mdui-col-xs-4">
                <div class="mdui-text-left">
                    分享
                </div>
            </div>
            <div class="mdui-col-xs-4">
                <div class="mdui-text-center">
                    {{ with .Site.Copyright }}{{ . }}{{ end }}
                </div>
            </div>
            <div class="mdui-col-xs-4">
                <div class="mdui-text-right self-site-link">
                    Theme: <a href="//github.com/Tangyanxin/MD-Theme" class="mdui-text-color-white-text">MD-Theme</a>
                </div>
            </div>
        </div>
    </div>
</footer>