<!--文章卡片头部-->
{{ if .Params.Image }}
<!--包含图片-->
    <div class="mdui-card-media ">
        <img src="{{ .Params.Image }}"/>
        <!-- 卡片中可以包含一个或多个菜单按钮 -->
        <div class="mdui-card-menu">
        <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">&#xe80d;</i></button>
        </div>
        <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">{{ .Title }}</div>
                <div class="mdui-card-primary-subtitle">{{ .Date.Format "2006-01-02 Mon" }}</div>
            </div>
        </div>
    </div>
{{ else }}
    <!--不包含图片-->
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">{{ .Title }}</div>
        <div class="mdui-card-primary-subtitle">{{ .Date.Format "2006-01-02 Mon" }}</div>
    </div>
{{ end }}